---
layout: page
title: Lab members
# subtitle: Basic informations about the lab
---

<div class="row">
    {% for image in site.static_files %}
        {% if image.path contains 'img/members' %}
        <div class="col-md-4" style="margin-bottom:.25rem">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image" style="width:200px; height:200px;margin-bottom:0.5em; margin-top: 1.25em;" />
            <strong> {{ image.path.split('/')[-1].split('--')[0].split('_').join(' ') }} </strong>
            <p> {{ image.path.split('/')[-1].split('--')[1].split('_').join(' ').split('.')[0] }} </p>
       </div>
        {% endif %}
    {% endfor %}
    </div>